@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

/**
* Layouts - Styles 
*/
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
[class^='col'] {
    padding-left: 15px;
    padding-right: 15px;
}
.col {
    flex: 1;
}
.col-75 {
    width: 75%;
}
.col-66 {
    width: 66.67%;
}
.col-50 {
    width: 50%;
}
.col-33 {
    width: 33.33%;
}
.col-25 {
    width: 25%;
}

.card>.card-body {
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid #ebebeb;
}
.badge {
    background-color: #555;
    color: var(--white);
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
}

/**
 * Website Custom CSS
**/

:root {
    --light: #f9f9f9;
    --primary: #643bc7;
    --secondary: #FFC0CB;
    --white: #ffffff;
}
* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body {
    margin: 0;
    background-color: var(--light);
}
.m-0 {
    margin: 0;
}
.mb-3 {
    margin-bottom: 15px;
}

#login_wrapper {
    height: 100vh;
    background: linear-gradient(90deg, #fff 50%, var(--secondary) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_wrapper>div {
    width: 50%;
    text-align: center;
}

.login_form {
    width: 300px;
    margin: auto;
    text-align: left;
}

.login_form input:not([type=checkbox]) {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 2px solid var(--primary);
    padding: 5px 0;
}

input:focus {
    outline: none;
}

.btn {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: all ease 500ms;
    border-radius: 3px;
}
.btn-full {
    width: 100%;
}
.btn.btn-primary {
    background-color: var(--primary);
    color: #fff;
}
.btn:hover {
    opacity: 0.6;
}
label {
    cursor: pointer;
}

/* After Login */
.dashboard-body {
    display: flex;
}
.dashboard-body>div {
    min-height: 100vh;
}
.dash-sidebar {
    border-right: 1px solid #f9f9f9;
    background-color: var(--primary);
    width: 200px;
    transition: all ease .5s;
}
.dash-sidebar .badge {
    background-color: var(--white);
    color: var(--primary);
}
.dash-right {
    width: calc( 100% - 200px );
}
.hide-nav .dash-sidebar {
    width: 50px;
}
/* .hide-nav .dash-sidebar .toggable {
    display: none;
} */
.hide-nav .dash-sidebar .nav-text {
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #313131;
    padding: 5px 15px;
    border-radius: 0 5px 5px 0;
    width: 150px;
}
.hide-nav .dash-sidebar ul li:hover .nav-text {
    display: block !important;
}
.dash-sidebar ul li {
    position: relative;
}
body:not(.hide-nav) .dash-sidebar ul li [class^='icon-'] {
    width: 20px;
    display: inline-block;
}
.dash-sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.dash-sidebar ul li a {
    text-decoration: none;
    padding: 5px 15px;
}
.dash-sidebar ul li, .dash-sidebar ul li a {
    color: #fff;
    display: block;
}
.dash-sidebar ul li>a {
    border-bottom: 1px solid var(--secondary);
}
.dash-sidebar ul li ul {
    background-color: var(--secondary);
}
.dash-sidebar ul li.has-dropdown>a:before {
    content: "\ebaf";
    font-family: 'Icomoon';
    float: right;
    transition: all ease .5s;
}
.dash-sidebar ul li.has-dropdown.shown>a:before {
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
}
.dash-sidebar ul li:not(.current) ul, .dash-sidebar ul li:not(:hover) ul {
    display: none;
}
.hide-nav .dash-sidebar ul li.has-dropdown>a:before {
    content: "";
}
.hide-nav .dash-sidebar ul li ul {
    position: absolute;
    left: 100%;
    width: 150px;
}
.hide-nav .dash-sidebar ul li:hover>ul {
    display: block;
}
.dash-sidebar ul ul li>a {
    border-color: var(--primary);
}
body:not(.hide-nav) .dash-sidebar ul ul li>a {
    padding-left: 35px;
}
.dash-sidebar ul li.current {
    /* border-left: 5px solid var(--secondary); */
    background-color: var(--secondary);
}
.sidebar-header {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    background-color: #fff;
    position: relative;
}
.sidebar-header>a {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.sidebar-header>* {
    padding: 10px 10px;
}
.sidebar-header img {
    height: 50px;
}
.dash-right {
    flex-grow: 1;
}

.right-header {
    height: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    cursor: pointer;
}
button.nav-bars {
    /* position: relative; */
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 2px solid #555;
    border-radius: 5px;
    padding: 2px;
}
button.nav-bars>span {
    left: 5px;
    right: 5px;
    /* position: absolute; */
    display: block;
    height: 2px;
    background-color: #555;
    border-radius: 5px;
    margin: 4px auto;
    transition: all ease .5s;
}

.hide-nav button.nav-bars>span:nth-child(1),
.hide-nav button.nav-bars>span:nth-child(3) {
    width: 15px;
}

.hide-nav button.nav-bars>span:nth-child(1) {
    transform: translateX(4px) rotate(45deg);
}
.hide-nav button.nav-bars>span:nth-child(3) {
    transform: translateX(4px) rotate(-45deg);
}