@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1nunvj');
  src:  url('fonts/icomoon.eot?1nunvj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1nunvj') format('truetype'),
    url('fonts/icomoon.woff?1nunvj') format('woff'),
    url('fonts/icomoon.svg?1nunvj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chart-alt:before {
  content: "\e900";
}
.icon-pie:before {
  content: "\e900";
}
.icon-stats:before {
  content: "\e901";
}
.icon-monitor:before {
  content: "\e901";
}
.icon-board:before {
  content: "\e901";
}
.icon-chart3:before {
  content: "\e902";
}
.icon-pie1:before {
  content: "\e902";
}
.icon-stats1:before {
  content: "\e902";
}
.icon-address-book:before {
  content: "\e903";
}
.icon-contacts:before {
  content: "\e903";
}
.icon-basket:before {
  content: "\e904";
}
.icon-cart1:before {
  content: "\e905";
}
.icon-grid:before {
  content: "\e906";
}
.icon-apps:before {
  content: "\e906";
}
.icon-squares:before {
  content: "\e906";
}
.icon-blocks:before {
  content: "\e906";
}
.icon-store1:before {
  content: "\e907";
}
.icon-purchase:before {
  content: "\e907";
}
.icon-buy:before {
  content: "\e907";
}
.icon-ecommerce1:before {
  content: "\e907";
}
.icon-instagram1:before {
  content: "\e908";
}
.icon-pin-alt:before {
  content: "\e909";
}
.icon-location:before {
  content: "\e909";
}
.icon-map:before {
  content: "\e909";
}
.icon-marker:before {
  content: "\e909";
}
.icon-pin3:before {
  content: "\e90a";
}
.icon-location1:before {
  content: "\e90a";
}
.icon-map2:before {
  content: "\e90a";
}
.icon-marker2:before {
  content: "\e90a";
}
.icon-home2:before {
  content: "\e90b";
}
.icon-home21:before {
  content: "\e90c";
}
.icon-home3:before {
  content: "\e90d";
}
.icon-office:before {
  content: "\e90e";
}
.icon-newspaper:before {
  content: "\e90f";
}
.icon-pencil:before {
  content: "\e910";
}
.icon-pencil2:before {
  content: "\e911";
}
.icon-quill:before {
  content: "\e912";
}
.icon-pen:before {
  content: "\e913";
}
.icon-blog:before {
  content: "\e914";
}
.icon-eyedropper:before {
  content: "\e915";
}
.icon-droplet:before {
  content: "\e916";
}
.icon-paint-format:before {
  content: "\e917";
}
.icon-image3:before {
  content: "\e918";
}
.icon-images5:before {
  content: "\e919";
}
.icon-camera2:before {
  content: "\e91a";
}
.icon-headphones:before {
  content: "\e91b";
}
.icon-music:before {
  content: "\e91c";
}
.icon-play:before {
  content: "\e91d";
}
.icon-film:before {
  content: "\e91e";
}
.icon-video-camera:before {
  content: "\e91f";
}
.icon-dice:before {
  content: "\e920";
}
.icon-pacman:before {
  content: "\e921";
}
.icon-spades:before {
  content: "\e922";
}
.icon-clubs:before {
  content: "\e923";
}
.icon-diamonds:before {
  content: "\e924";
}
.icon-bullhorn:before {
  content: "\e925";
}
.icon-connection:before {
  content: "\e926";
}
.icon-podcast:before {
  content: "\e927";
}
.icon-feed:before {
  content: "\e928";
}
.icon-mic:before {
  content: "\e929";
}
.icon-book:before {
  content: "\e92a";
}
.icon-books:before {
  content: "\e92b";
}
.icon-library:before {
  content: "\e92c";
}
.icon-file-text:before {
  content: "\e92d";
}
.icon-profile:before {
  content: "\e92e";
}
.icon-file-empty:before {
  content: "\e92f";
}
.icon-files-empty:before {
  content: "\e930";
}
.icon-file-text2:before {
  content: "\e931";
}
.icon-file-picture:before {
  content: "\e932";
}
.icon-file-music:before {
  content: "\e933";
}
.icon-file-play:before {
  content: "\e934";
}
.icon-file-video:before {
  content: "\e935";
}
.icon-file-zip:before {
  content: "\e936";
}
.icon-copy:before {
  content: "\e937";
}
.icon-paste:before {
  content: "\e938";
}
.icon-stack:before {
  content: "\e939";
}
.icon-folder1:before {
  content: "\e93a";
}
.icon-folder-open1:before {
  content: "\e93b";
}
.icon-folder-plus:before {
  content: "\e93c";
}
.icon-folder-minus:before {
  content: "\e93d";
}
.icon-folder-download:before {
  content: "\e93e";
}
.icon-folder-upload:before {
  content: "\e93f";
}
.icon-price-tag:before {
  content: "\e940";
}
.icon-price-tags:before {
  content: "\e941";
}
.icon-barcode:before {
  content: "\e942";
}
.icon-qrcode:before {
  content: "\e943";
}
.icon-ticket:before {
  content: "\e944";
}
.icon-cart:before {
  content: "\e945";
}
.icon-coin-dollar:before {
  content: "\e946";
}
.icon-coin-euro:before {
  content: "\e947";
}
.icon-coin-pound:before {
  content: "\e948";
}
.icon-coin-yen:before {
  content: "\e949";
}
.icon-credit-card1:before {
  content: "\e94a";
}
.icon-calculator:before {
  content: "\e94b";
}
.icon-lifebuoy:before {
  content: "\e94c";
}
.icon-phone:before {
  content: "\e94d";
}
.icon-phone-hang-up:before {
  content: "\e94e";
}
.icon-address-book1:before {
  content: "\e94f";
}
.icon-envelop:before {
  content: "\e950";
}
.icon-pushpin:before {
  content: "\e951";
}
.icon-location2:before {
  content: "\e952";
}
.icon-location21:before {
  content: "\e953";
}
.icon-compass:before {
  content: "\e954";
}
.icon-compass2:before {
  content: "\e955";
}
.icon-map4:before {
  content: "\e956";
}
.icon-map21:before {
  content: "\e957";
}
.icon-history:before {
  content: "\e958";
}
.icon-clock1:before {
  content: "\e959";
}
.icon-clock2:before {
  content: "\e95a";
}
.icon-alarm:before {
  content: "\e95b";
}
.icon-bell:before {
  content: "\e95c";
}
.icon-stopwatch:before {
  content: "\e95d";
}
.icon-calendar2:before {
  content: "\e95e";
}
.icon-printer:before {
  content: "\e95f";
}
.icon-keyboard:before {
  content: "\e960";
}
.icon-display:before {
  content: "\e961";
}
.icon-laptop:before {
  content: "\e962";
}
.icon-mobile:before {
  content: "\e963";
}
.icon-mobile2:before {
  content: "\e964";
}
.icon-tablet:before {
  content: "\e965";
}
.icon-tv:before {
  content: "\e966";
}
.icon-drawer:before {
  content: "\e967";
}
.icon-drawer2:before {
  content: "\e968";
}
.icon-box-add:before {
  content: "\e969";
}
.icon-box-remove:before {
  content: "\e96a";
}
.icon-download:before {
  content: "\e96b";
}
.icon-upload1:before {
  content: "\e96c";
}
.icon-floppy-disk:before {
  content: "\e96d";
}
.icon-drive:before {
  content: "\e96e";
}
.icon-database:before {
  content: "\e96f";
}
.icon-undo:before {
  content: "\e970";
}
.icon-redo:before {
  content: "\e971";
}
.icon-undo2:before {
  content: "\e972";
}
.icon-redo2:before {
  content: "\e973";
}
.icon-forward:before {
  content: "\e974";
}
.icon-reply:before {
  content: "\e975";
}
.icon-bubble:before {
  content: "\e976";
}
.icon-bubbles:before {
  content: "\e977";
}
.icon-bubbles2:before {
  content: "\e978";
}
.icon-bubble2:before {
  content: "\e979";
}
.icon-bubbles3:before {
  content: "\e97a";
}
.icon-bubbles4:before {
  content: "\e97b";
}
.icon-user:before {
  content: "\e97c";
}
.icon-users:before {
  content: "\e97d";
}
.icon-user-plus:before {
  content: "\e97e";
}
.icon-user-minus:before {
  content: "\e97f";
}
.icon-user-check:before {
  content: "\e980";
}
.icon-user-tie:before {
  content: "\e981";
}
.icon-quotes-left:before {
  content: "\e982";
}
.icon-quotes-right:before {
  content: "\e983";
}
.icon-hour-glass:before {
  content: "\e984";
}
.icon-spinner:before {
  content: "\e985";
}
.icon-spinner2:before {
  content: "\e986";
}
.icon-spinner3:before {
  content: "\e987";
}
.icon-spinner4:before {
  content: "\e988";
}
.icon-spinner5:before {
  content: "\e989";
}
.icon-spinner6:before {
  content: "\e98a";
}
.icon-spinner7:before {
  content: "\e98b";
}
.icon-spinner8:before {
  content: "\e98c";
}
.icon-spinner9:before {
  content: "\e98d";
}
.icon-spinner10:before {
  content: "\e98e";
}
.icon-spinner11:before {
  content: "\e98f";
}
.icon-binoculars:before {
  content: "\e990";
}
.icon-search:before {
  content: "\e991";
}
.icon-zoom-in:before {
  content: "\e992";
}
.icon-zoom-out:before {
  content: "\e993";
}
.icon-enlarge:before {
  content: "\e994";
}
.icon-shrink:before {
  content: "\e995";
}
.icon-enlarge2:before {
  content: "\e996";
}
.icon-shrink2:before {
  content: "\e997";
}
.icon-key:before {
  content: "\e998";
}
.icon-key2:before {
  content: "\e999";
}
.icon-lock:before {
  content: "\e99a";
}
.icon-unlocked:before {
  content: "\e99b";
}
.icon-wrench:before {
  content: "\e99c";
}
.icon-equalizer2:before {
  content: "\e99d";
}
.icon-equalizer21:before {
  content: "\e99e";
}
.icon-cog1:before {
  content: "\e99f";
}
.icon-cogs:before {
  content: "\e9a0";
}
.icon-hammer:before {
  content: "\e9a1";
}
.icon-magic-wand:before {
  content: "\e9a2";
}
.icon-aid-kit:before {
  content: "\e9a3";
}
.icon-bug:before {
  content: "\e9a4";
}
.icon-pie-chart:before {
  content: "\e9a5";
}
.icon-stats-dots:before {
  content: "\e9a6";
}
.icon-stats-bars:before {
  content: "\e9a7";
}
.icon-stats-bars2:before {
  content: "\e9a8";
}
.icon-trophy:before {
  content: "\e9a9";
}
.icon-gift:before {
  content: "\e9aa";
}
.icon-glass:before {
  content: "\e9ab";
}
.icon-glass2:before {
  content: "\e9ac";
}
.icon-mug:before {
  content: "\e9ad";
}
.icon-spoon-knife:before {
  content: "\e9ae";
}
.icon-leaf:before {
  content: "\e9af";
}
.icon-rocket:before {
  content: "\e9b0";
}
.icon-meter:before {
  content: "\e9b1";
}
.icon-meter2:before {
  content: "\e9b2";
}
.icon-hammer2:before {
  content: "\e9b3";
}
.icon-fire:before {
  content: "\e9b4";
}
.icon-lab:before {
  content: "\e9b5";
}
.icon-magnet:before {
  content: "\e9b6";
}
.icon-bin:before {
  content: "\e9b7";
}
.icon-bin2:before {
  content: "\e9b8";
}
.icon-briefcase:before {
  content: "\e9b9";
}
.icon-airplane:before {
  content: "\e9ba";
}
.icon-truck:before {
  content: "\e9bb";
}
.icon-road:before {
  content: "\e9bc";
}
.icon-accessibility:before {
  content: "\e9bd";
}
.icon-target:before {
  content: "\e9be";
}
.icon-shield:before {
  content: "\e9bf";
}
.icon-power:before {
  content: "\e9c0";
}
.icon-switch:before {
  content: "\e9c1";
}
.icon-power-cord:before {
  content: "\e9c2";
}
.icon-clipboard:before {
  content: "\e9c3";
}
.icon-list-numbered:before {
  content: "\e9c4";
}
.icon-list1:before {
  content: "\e9c5";
}
.icon-list2:before {
  content: "\e9c6";
}
.icon-tree2:before {
  content: "\e9c7";
}
.icon-menu:before {
  content: "\e9c8";
}
.icon-menu2:before {
  content: "\e9c9";
}
.icon-menu3:before {
  content: "\e9ca";
}
.icon-menu4:before {
  content: "\e9cb";
}
.icon-cloud:before {
  content: "\e9cc";
}
.icon-cloud-download:before {
  content: "\e9cd";
}
.icon-cloud-upload:before {
  content: "\e9ce";
}
.icon-cloud-check:before {
  content: "\e9cf";
}
.icon-download2:before {
  content: "\e9d0";
}
.icon-upload2:before {
  content: "\e9d1";
}
.icon-download3:before {
  content: "\e9d2";
}
.icon-upload3:before {
  content: "\e9d3";
}
.icon-sphere:before {
  content: "\e9d4";
}
.icon-earth:before {
  content: "\e9d5";
}
.icon-link:before {
  content: "\e9d6";
}
.icon-flag:before {
  content: "\e9d7";
}
.icon-attachment:before {
  content: "\e9d8";
}
.icon-eye:before {
  content: "\e9d9";
}
.icon-eye-plus:before {
  content: "\e9da";
}
.icon-eye-minus:before {
  content: "\e9db";
}
.icon-eye-blocked:before {
  content: "\e9dc";
}
.icon-bookmark:before {
  content: "\e9dd";
}
.icon-bookmarks:before {
  content: "\e9de";
}
.icon-sun:before {
  content: "\e9df";
}
.icon-contrast:before {
  content: "\e9e0";
}
.icon-brightness-contrast:before {
  content: "\e9e1";
}
.icon-star-empty:before {
  content: "\e9e2";
}
.icon-star-half:before {
  content: "\e9e3";
}
.icon-star-full:before {
  content: "\e9e4";
}
.icon-heart:before {
  content: "\e9e5";
}
.icon-heart-broken:before {
  content: "\e9e6";
}
.icon-man:before {
  content: "\e9e7";
}
.icon-woman:before {
  content: "\e9e8";
}
.icon-man-woman:before {
  content: "\e9e9";
}
.icon-happy:before {
  content: "\e9ea";
}
.icon-happy2:before {
  content: "\e9eb";
}
.icon-smile:before {
  content: "\e9ec";
}
.icon-smile2:before {
  content: "\e9ed";
}
.icon-tongue:before {
  content: "\e9ee";
}
.icon-tongue2:before {
  content: "\e9ef";
}
.icon-sad:before {
  content: "\e9f0";
}
.icon-sad2:before {
  content: "\e9f1";
}
.icon-wink:before {
  content: "\e9f2";
}
.icon-wink2:before {
  content: "\e9f3";
}
.icon-grin:before {
  content: "\e9f4";
}
.icon-grin2:before {
  content: "\e9f5";
}
.icon-cool:before {
  content: "\e9f6";
}
.icon-cool2:before {
  content: "\e9f7";
}
.icon-angry:before {
  content: "\e9f8";
}
.icon-angry2:before {
  content: "\e9f9";
}
.icon-evil:before {
  content: "\e9fa";
}
.icon-evil2:before {
  content: "\e9fb";
}
.icon-shocked:before {
  content: "\e9fc";
}
.icon-shocked2:before {
  content: "\e9fd";
}
.icon-baffled:before {
  content: "\e9fe";
}
.icon-baffled2:before {
  content: "\e9ff";
}
.icon-confused:before {
  content: "\ea00";
}
.icon-confused2:before {
  content: "\ea01";
}
.icon-neutral:before {
  content: "\ea02";
}
.icon-neutral2:before {
  content: "\ea03";
}
.icon-hipster:before {
  content: "\ea04";
}
.icon-hipster2:before {
  content: "\ea05";
}
.icon-wondering:before {
  content: "\ea06";
}
.icon-wondering2:before {
  content: "\ea07";
}
.icon-sleepy:before {
  content: "\ea08";
}
.icon-sleepy2:before {
  content: "\ea09";
}
.icon-frustrated:before {
  content: "\ea0a";
}
.icon-frustrated2:before {
  content: "\ea0b";
}
.icon-crying:before {
  content: "\ea0c";
}
.icon-crying2:before {
  content: "\ea0d";
}
.icon-point-up:before {
  content: "\ea0e";
}
.icon-point-right:before {
  content: "\ea0f";
}
.icon-point-down:before {
  content: "\ea10";
}
.icon-point-left:before {
  content: "\ea11";
}
.icon-warning:before {
  content: "\ea12";
}
.icon-notification:before {
  content: "\ea13";
}
.icon-question:before {
  content: "\ea14";
}
.icon-plus:before {
  content: "\ea15";
}
.icon-minus:before {
  content: "\ea16";
}
.icon-info:before {
  content: "\ea17";
}
.icon-cancel-circle:before {
  content: "\ea18";
}
.icon-blocked:before {
  content: "\ea19";
}
.icon-cross:before {
  content: "\ea1a";
}
.icon-checkmark:before {
  content: "\ea1b";
}
.icon-checkmark2:before {
  content: "\ea1c";
}
.icon-spell-check:before {
  content: "\ea1d";
}
.icon-enter:before {
  content: "\ea1e";
}
.icon-exit:before {
  content: "\ea1f";
}
.icon-play2:before {
  content: "\ea20";
}
.icon-pause:before {
  content: "\ea21";
}
.icon-stop:before {
  content: "\ea22";
}
.icon-previous:before {
  content: "\ea23";
}
.icon-next:before {
  content: "\ea24";
}
.icon-backward:before {
  content: "\ea25";
}
.icon-forward2:before {
  content: "\ea26";
}
.icon-play3:before {
  content: "\ea27";
}
.icon-pause2:before {
  content: "\ea28";
}
.icon-stop2:before {
  content: "\ea29";
}
.icon-backward2:before {
  content: "\ea2a";
}
.icon-forward3:before {
  content: "\ea2b";
}
.icon-first:before {
  content: "\ea2c";
}
.icon-last:before {
  content: "\ea2d";
}
.icon-previous2:before {
  content: "\ea2e";
}
.icon-next2:before {
  content: "\ea2f";
}
.icon-eject:before {
  content: "\ea30";
}
.icon-volume-high:before {
  content: "\ea31";
}
.icon-volume-medium:before {
  content: "\ea32";
}
.icon-volume-low:before {
  content: "\ea33";
}
.icon-volume-mute:before {
  content: "\ea34";
}
.icon-volume-mute2:before {
  content: "\ea35";
}
.icon-volume-increase:before {
  content: "\ea36";
}
.icon-volume-decrease:before {
  content: "\ea37";
}
.icon-loop:before {
  content: "\ea38";
}
.icon-loop2:before {
  content: "\ea39";
}
.icon-infinite:before {
  content: "\ea3a";
}
.icon-shuffle:before {
  content: "\ea3b";
}
.icon-arrow-up-left:before {
  content: "\ea3c";
}
.icon-arrow-up:before {
  content: "\ea3d";
}
.icon-arrow-up-right:before {
  content: "\ea3e";
}
.icon-arrow-right:before {
  content: "\ea3f";
}
.icon-arrow-down-right:before {
  content: "\ea40";
}
.icon-arrow-down:before {
  content: "\ea41";
}
.icon-arrow-down-left:before {
  content: "\ea42";
}
.icon-arrow-left:before {
  content: "\ea43";
}
.icon-arrow-up-left2:before {
  content: "\ea44";
}
.icon-arrow-up2:before {
  content: "\ea45";
}
.icon-arrow-up-right2:before {
  content: "\ea46";
}
.icon-arrow-right2:before {
  content: "\ea47";
}
.icon-arrow-down-right2:before {
  content: "\ea48";
}
.icon-arrow-down2:before {
  content: "\ea49";
}
.icon-arrow-down-left2:before {
  content: "\ea4a";
}
.icon-arrow-left2:before {
  content: "\ea4b";
}
.icon-circle-up:before {
  content: "\ea4c";
}
.icon-circle-right:before {
  content: "\ea4d";
}
.icon-circle-down:before {
  content: "\ea4e";
}
.icon-circle-left:before {
  content: "\ea4f";
}
.icon-tab:before {
  content: "\ea50";
}
.icon-move-up:before {
  content: "\ea51";
}
.icon-move-down:before {
  content: "\ea52";
}
.icon-sort-alpha-asc:before {
  content: "\ea53";
}
.icon-sort-alpha-desc:before {
  content: "\ea54";
}
.icon-sort-numeric-asc:before {
  content: "\ea55";
}
.icon-sort-numberic-desc:before {
  content: "\ea56";
}
.icon-sort-amount-asc:before {
  content: "\ea57";
}
.icon-sort-amount-desc:before {
  content: "\ea58";
}
.icon-command:before {
  content: "\ea59";
}
.icon-shift:before {
  content: "\ea5a";
}
.icon-ctrl:before {
  content: "\ea5b";
}
.icon-opt:before {
  content: "\ea5c";
}
.icon-checkbox-checked:before {
  content: "\ea5d";
}
.icon-checkbox-unchecked:before {
  content: "\ea5e";
}
.icon-radio-checked:before {
  content: "\ea5f";
}
.icon-radio-checked2:before {
  content: "\ea60";
}
.icon-radio-unchecked:before {
  content: "\ea61";
}
.icon-crop:before {
  content: "\ea62";
}
.icon-make-group:before {
  content: "\ea63";
}
.icon-ungroup:before {
  content: "\ea64";
}
.icon-scissors:before {
  content: "\ea65";
}
.icon-filter:before {
  content: "\ea66";
}
.icon-font:before {
  content: "\ea67";
}
.icon-ligature:before {
  content: "\ea68";
}
.icon-ligature2:before {
  content: "\ea69";
}
.icon-text-height:before {
  content: "\ea6a";
}
.icon-text-width:before {
  content: "\ea6b";
}
.icon-font-size:before {
  content: "\ea6c";
}
.icon-bold:before {
  content: "\ea6d";
}
.icon-underline:before {
  content: "\ea6e";
}
.icon-italic:before {
  content: "\ea6f";
}
.icon-strikethrough:before {
  content: "\ea70";
}
.icon-omega:before {
  content: "\ea71";
}
.icon-sigma:before {
  content: "\ea72";
}
.icon-page-break:before {
  content: "\ea73";
}
.icon-superscript:before {
  content: "\ea74";
}
.icon-subscript:before {
  content: "\ea75";
}
.icon-superscript2:before {
  content: "\ea76";
}
.icon-subscript2:before {
  content: "\ea77";
}
.icon-text-color:before {
  content: "\ea78";
}
.icon-pagebreak:before {
  content: "\ea79";
}
.icon-clear-formatting:before {
  content: "\ea7a";
}
.icon-table:before {
  content: "\ea7b";
}
.icon-table2:before {
  content: "\ea7c";
}
.icon-insert-template:before {
  content: "\ea7d";
}
.icon-pilcrow:before {
  content: "\ea7e";
}
.icon-ltr:before {
  content: "\ea7f";
}
.icon-rtl:before {
  content: "\ea80";
}
.icon-section:before {
  content: "\ea81";
}
.icon-paragraph-left:before {
  content: "\ea82";
}
.icon-paragraph-center:before {
  content: "\ea83";
}
.icon-paragraph-right:before {
  content: "\ea84";
}
.icon-paragraph-justify:before {
  content: "\ea85";
}
.icon-indent-increase:before {
  content: "\ea86";
}
.icon-indent-decrease:before {
  content: "\ea87";
}
.icon-share1:before {
  content: "\ea88";
}
.icon-new-tab:before {
  content: "\ea89";
}
.icon-embed:before {
  content: "\ea8a";
}
.icon-embed2:before {
  content: "\ea8b";
}
.icon-terminal:before {
  content: "\ea8c";
}
.icon-share2:before {
  content: "\ea8d";
}
.icon-mail:before {
  content: "\ea8e";
}
.icon-mail2:before {
  content: "\ea8f";
}
.icon-mail3:before {
  content: "\ea90";
}
.icon-mail4:before {
  content: "\ea91";
}
.icon-amazon:before {
  content: "\ea92";
}
.icon-google:before {
  content: "\ea93";
}
.icon-google2:before {
  content: "\ea94";
}
.icon-google3:before {
  content: "\ea95";
}
.icon-google-plus:before {
  content: "\ea96";
}
.icon-google-plus2:before {
  content: "\ea97";
}
.icon-google-plus3:before {
  content: "\ea98";
}
.icon-hangouts:before {
  content: "\ea99";
}
.icon-google-drive:before {
  content: "\ea9a";
}
.icon-facebook1:before {
  content: "\ea9b";
}
.icon-facebook2:before {
  content: "\ea9c";
}
.icon-instagram:before {
  content: "\ea9d";
}
.icon-whatsapp:before {
  content: "\ea9e";
}
.icon-spotify:before {
  content: "\ea9f";
}
.icon-telegram:before {
  content: "\eaa0";
}
.icon-twitter1:before {
  content: "\eaa1";
}
.icon-vine:before {
  content: "\eaa2";
}
.icon-vk:before {
  content: "\eaa3";
}
.icon-renren:before {
  content: "\eaa4";
}
.icon-sina-weibo:before {
  content: "\eaa5";
}
.icon-rss:before {
  content: "\eaa6";
}
.icon-rss2:before {
  content: "\eaa7";
}
.icon-youtube:before {
  content: "\eaa8";
}
.icon-youtube2:before {
  content: "\eaa9";
}
.icon-twitch:before {
  content: "\eaaa";
}
.icon-vimeo:before {
  content: "\eaab";
}
.icon-vimeo2:before {
  content: "\eaac";
}
.icon-lanyrd:before {
  content: "\eaad";
}
.icon-flickr:before {
  content: "\eaae";
}
.icon-flickr2:before {
  content: "\eaaf";
}
.icon-flickr3:before {
  content: "\eab0";
}
.icon-flickr4:before {
  content: "\eab1";
}
.icon-dribbble:before {
  content: "\eab2";
}
.icon-behance:before {
  content: "\eab3";
}
.icon-behance2:before {
  content: "\eab4";
}
.icon-deviantart:before {
  content: "\eab5";
}
.icon-500px:before {
  content: "\eab6";
}
.icon-steam:before {
  content: "\eab7";
}
.icon-steam2:before {
  content: "\eab8";
}
.icon-dropbox:before {
  content: "\eab9";
}
.icon-onedrive:before {
  content: "\eaba";
}
.icon-github:before {
  content: "\eabb";
}
.icon-npm:before {
  content: "\eabc";
}
.icon-basecamp:before {
  content: "\eabd";
}
.icon-trello:before {
  content: "\eabe";
}
.icon-wordpress:before {
  content: "\eabf";
}
.icon-joomla:before {
  content: "\eac0";
}
.icon-ello:before {
  content: "\eac1";
}
.icon-blogger:before {
  content: "\eac2";
}
.icon-blogger2:before {
  content: "\eac3";
}
.icon-tumblr:before {
  content: "\eac4";
}
.icon-tumblr2:before {
  content: "\eac5";
}
.icon-yahoo:before {
  content: "\eac6";
}
.icon-yahoo2:before {
  content: "\eac7";
}
.icon-tux:before {
  content: "\eac8";
}
.icon-appleinc:before {
  content: "\eac9";
}
.icon-finder:before {
  content: "\eaca";
}
.icon-android:before {
  content: "\eacb";
}
.icon-windows:before {
  content: "\eacc";
}
.icon-windows8:before {
  content: "\eacd";
}
.icon-soundcloud:before {
  content: "\eace";
}
.icon-soundcloud2:before {
  content: "\eacf";
}
.icon-skype:before {
  content: "\ead0";
}
.icon-reddit:before {
  content: "\ead1";
}
.icon-hackernews:before {
  content: "\ead2";
}
.icon-wikipedia:before {
  content: "\ead3";
}
.icon-linkedin1:before {
  content: "\ead4";
}
.icon-linkedin2:before {
  content: "\ead5";
}
.icon-lastfm:before {
  content: "\ead6";
}
.icon-lastfm2:before {
  content: "\ead7";
}
.icon-delicious:before {
  content: "\ead8";
}
.icon-stumbleupon:before {
  content: "\ead9";
}
.icon-stumbleupon2:before {
  content: "\eada";
}
.icon-stackoverflow:before {
  content: "\eadb";
}
.icon-pinterest:before {
  content: "\eadc";
}
.icon-pinterest2:before {
  content: "\eadd";
}
.icon-xing:before {
  content: "\eade";
}
.icon-xing2:before {
  content: "\eadf";
}
.icon-flattr:before {
  content: "\eae0";
}
.icon-foursquare:before {
  content: "\eae1";
}
.icon-yelp:before {
  content: "\eae2";
}
.icon-paypal:before {
  content: "\eae3";
}
.icon-chrome:before {
  content: "\eae4";
}
.icon-firefox:before {
  content: "\eae5";
}
.icon-IE:before {
  content: "\eae6";
}
.icon-edge:before {
  content: "\eae7";
}
.icon-safari:before {
  content: "\eae8";
}
.icon-opera:before {
  content: "\eae9";
}
.icon-file-pdf:before {
  content: "\eaea";
}
.icon-file-openoffice:before {
  content: "\eaeb";
}
.icon-file-word:before {
  content: "\eaec";
}
.icon-file-excel:before {
  content: "\eaed";
}
.icon-libreoffice:before {
  content: "\eaee";
}
.icon-html-five:before {
  content: "\eaef";
}
.icon-html-five2:before {
  content: "\eaf0";
}
.icon-css3:before {
  content: "\eaf1";
}
.icon-git:before {
  content: "\eaf2";
}
.icon-codepen:before {
  content: "\eaf3";
}
.icon-svg:before {
  content: "\eaf4";
}
.icon-IcoMoon:before {
  content: "\eaf5";
}
.icon-pricetags:before {
  content: "\eaf6";
}
.icon-tags:before {
  content: "\eaf6";
}
.icon-prices:before {
  content: "\eaf6";
}
.icon-shop:before {
  content: "\eaf6";
}
.icon-ecommerce:before {
  content: "\eaf6";
}
.icon-wallet2:before {
  content: "\eaf7";
}
.icon-money2:before {
  content: "\eaf7";
}
.icon-linegraph:before {
  content: "\eaf8";
}
.icon-graph:before {
  content: "\eaf8";
}
.icon-statistics:before {
  content: "\eaf8";
}
.icon-piechart:before {
  content: "\eaf9";
}
.icon-chart2:before {
  content: "\eaf9";
}
.icon-statistic:before {
  content: "\eaf9";
}
.icon-bargraph:before {
  content: "\eafa";
}
.icon-bars:before {
  content: "\eafa";
}
.icon-graph1:before {
  content: "\eafa";
}
.icon-chart4:before {
  content: "\eafa";
}
.icon-stats2:before {
  content: "\eafa";
}
.icon-statistics1:before {
  content: "\eafa";
}
.icon-clock:before {
  content: "\eafb";
}
.icon-time:before {
  content: "\eafb";
}
.icon-schedule:before {
  content: "\eafb";
}
.icon-linkedin:before {
  content: "\eafc";
}
.icon-social:before {
  content: "\eafc";
}
.icon-googleplus:before {
  content: "\eafd";
}
.icon-social1:before {
  content: "\eafd";
}
.icon-twitter:before {
  content: "\eafe";
}
.icon-social2:before {
  content: "\eafe";
}
.icon-facebook:before {
  content: "\eaff";
}
.icon-social3:before {
  content: "\eaff";
}
.icon-gears:before {
  content: "\eb00";
}
.icon-settings:before {
  content: "\eb00";
}
.icon-preferences:before {
  content: "\eb00";
}
.icon-adjustments:before {
  content: "\eb01";
}
.icon-settings2:before {
  content: "\eb01";
}
.icon-options1:before {
  content: "\eb01";
}
.icon-equalizer1:before {
  content: "\eb01";
}
.icon-preferences2:before {
  content: "\eb01";
}
.icon-profile-female:before {
  content: "\eb02";
}
.icon-profile-male:before {
  content: "\eb03";
}
.icon-pricetags1:before {
  content: "\eb04";
}
.icon-basket1:before {
  content: "\eb05";
}
.icon-grid1:before {
  content: "\eb06";
}
.icon-icons:before {
  content: "\eb06";
}
.icon-safe:before {
  content: "\eb07";
}
.icon-money:before {
  content: "\eb07";
}
.icon-bag:before {
  content: "\eb08";
}
.icon-sack:before {
  content: "\eb08";
}
.icon-money3:before {
  content: "\eb08";
}
.icon-wallet3:before {
  content: "\eb09";
}
.icon-money4:before {
  content: "\eb09";
}
.icon-layout:before {
  content: "\eb0a";
}
.icon-layout2:before {
  content: "\eb0b";
}
.icon-site-map:before {
  content: "\eb0c";
}
.icon-tree:before {
  content: "\eb0c";
}
.icon-map1:before {
  content: "\eb0c";
}
.icon-site-map1:before {
  content: "\eb0d";
}
.icon-tree1:before {
  content: "\eb0d";
}
.icon-map3:before {
  content: "\eb0d";
}
.icon-presentation:before {
  content: "\eb0e";
}
.icon-board1:before {
  content: "\eb0e";
}
.icon-art-board:before {
  content: "\eb0e";
}
.icon-chart1:before {
  content: "\eb0e";
}
.icon-phone1:before {
  content: "\eb0f";
}
.icon-image:before {
  content: "\eb10";
}
.icon-picture:before {
  content: "\eb10";
}
.icon-photo:before {
  content: "\eb10";
}
.icon-frame:before {
  content: "\eb10";
}
.icon-picture1:before {
  content: "\eb11";
}
.icon-images1:before {
  content: "\eb11";
}
.icon-photos:before {
  content: "\eb11";
}
.icon-polaroid:before {
  content: "\eb11";
}
.icon-pictures:before {
  content: "\eb12";
}
.icon-images2:before {
  content: "\eb12";
}
.icon-photos1:before {
  content: "\eb12";
}
.icon-pictures1:before {
  content: "\eb13";
}
.icon-images3:before {
  content: "\eb13";
}
.icon-photos2:before {
  content: "\eb13";
}
.icon-polaroid1:before {
  content: "\eb13";
}
.icon-pictures2:before {
  content: "\eb14";
}
.icon-images4:before {
  content: "\eb14";
}
.icon-photos3:before {
  content: "\eb14";
}
.icon-polaroid2:before {
  content: "\eb14";
}
.icon-basket2:before {
  content: "\eb15";
}
.icon-position:before {
  content: "\eb16";
}
.icon-pin:before {
  content: "\eb16";
}
.icon-map-marker:before {
  content: "\eb16";
}
.icon-marker1:before {
  content: "\eb16";
}
.icon-wallet1:before {
  content: "\eb17";
}
.icon-money1:before {
  content: "\eb17";
}
.icon-cash:before {
  content: "\eb17";
}
.icon-shop1:before {
  content: "\eb18";
}
.icon-store2:before {
  content: "\eb18";
}
.icon-calendar:before {
  content: "\eb19";
}
.icon-date:before {
  content: "\eb19";
}
.icon-schedule1:before {
  content: "\eb19";
}
.icon-params:before {
  content: "\eb1a";
}
.icon-equalizer:before {
  content: "\eb1a";
}
.icon-preferences1:before {
  content: "\eb1a";
}
.icon-settings1:before {
  content: "\eb1a";
}
.icon-options:before {
  content: "\eb1a";
}
.icon-settings3:before {
  content: "\eb1b";
}
.icon-cog:before {
  content: "\eb1b";
}
.icon-preferences3:before {
  content: "\eb1b";
}
.icon-video:before {
  content: "\eb1c";
}
.icon-camera:before {
  content: "\eb1c";
}
.icon-movie:before {
  content: "\eb1c";
}
.icon-photo1:before {
  content: "\eb1d";
}
.icon-image1:before {
  content: "\eb1d";
}
.icon-picture2:before {
  content: "\eb1d";
}
.icon-camera1:before {
  content: "\eb1e";
}
.icon-photo2:before {
  content: "\eb1e";
}
.icon-image2:before {
  content: "\eb1e";
}
.icon-user1:before {
  content: "\eb1f";
}
.icon-tag:before {
  content: "\eb20";
}
.icon-price:before {
  content: "\eb20";
}
.icon-notebook-list:before {
  content: "\eb21";
}
.icon-note-list:before {
  content: "\eb22";
}
.icon-clipboard-list:before {
  content: "\eb23";
}
.icon-thumb-down:before {
  content: "\eb24";
}
.icon-thumb-down1:before {
  content: "\eb25";
}
.icon-thumb-up:before {
  content: "\eb26";
}
.icon-thumb-up1:before {
  content: "\eb27";
}
.icon-tags1:before {
  content: "\eb28";
}
.icon-tag1:before {
  content: "\eb29";
}
.icon-wallet:before {
  content: "\eb2a";
}
.icon-message:before {
  content: "\eb2b";
}
.icon-folder-images:before {
  content: "\eb2c";
}
.icon-images:before {
  content: "\eb2d";
}
.icon-add-user:before {
  content: "\eb2e";
}
.icon-users1:before {
  content: "\eb2f";
}
.icon-user2:before {
  content: "\eb30";
}
.icon-log-out:before {
  content: "\eb31";
}
.icon-shopping-basket:before {
  content: "\eb32";
}
.icon-shopping-bag1:before {
  content: "\eb33";
}
.icon-shopping-cart1:before {
  content: "\eb34";
}
.icon-list:before {
  content: "\eb35";
}
.icon-edit-pencil:before {
  content: "\eb36";
}
.icon-user-group:before {
  content: "\eb37";
}
.icon-user-add:before {
  content: "\eb38";
}
.icon-user3:before {
  content: "\eb39";
}
.icon-shopping-cart2:before {
  content: "\eb3a";
}
.icon-location-shopping:before {
  content: "\eb3b";
}
.icon-pin2:before {
  content: "\eb3c";
}
.icon-chart:before {
  content: "\eb3d";
}
.icon-store:before {
  content: "\eb3e";
}
.icon-cart2:before {
  content: "\eb3f";
}
.icon-social-at-circular:before {
  content: "\eb40";
}
.icon-social-skype-outline:before {
  content: "\eb41";
}
.icon-social-facebook-circular:before {
  content: "\eb42";
}
.icon-social-linkedin-circular:before {
  content: "\eb43";
}
.icon-social-pinterest-circular:before {
  content: "\eb44";
}
.icon-social-twitter-circular:before {
  content: "\eb45";
}
.icon-social-linkedin:before {
  content: "\eb46";
}
.icon-social-pinterest:before {
  content: "\eb47";
}
.icon-social-skype:before {
  content: "\eb48";
}
.icon-social-facebook:before {
  content: "\eb49";
}
.icon-social-twitter:before {
  content: "\eb4a";
}
.icon-messages:before {
  content: "\eb4b";
}
.icon-lock-closed-outline:before {
  content: "\eb4c";
}
.icon-lock-closed:before {
  content: "\eb4d";
}
.icon-shopping-bag2:before {
  content: "\eb4e";
}
.icon-shopping-cart3:before {
  content: "\eb4f";
}
.icon-pin1:before {
  content: "\eb50";
}
.icon-smartphone:before {
  content: "\eb51";
}
.icon-grid2:before {
  content: "\eb52";
}
.icon-layout1:before {
  content: "\eb53";
}
.icon-upload:before {
  content: "\eb54";
}
.icon-shopping-bag:before {
  content: "\eb55";
}
.icon-shopping-cart:before {
  content: "\eb56";
}
.icon-trash-2:before {
  content: "\eb57";
}
.icon-delete:before {
  content: "\eb58";
}
.icon-trash:before {
  content: "\eb59";
}
.icon-instagram2:before {
  content: "\eb5a";
}
.icon-check-square:before {
  content: "\eb5b";
}
.icon-minus-square:before {
  content: "\eb5c";
}
.icon-plus-square:before {
  content: "\eb5d";
}
.icon-square:before {
  content: "\eb5e";
}
.icon-message-square:before {
  content: "\eb5f";
}
.icon-user-x:before {
  content: "\eb60";
}
.icon-user-check1:before {
  content: "\eb61";
}
.icon-users2:before {
  content: "\eb62";
}
.icon-user-minus1:before {
  content: "\eb63";
}
.icon-user-plus1:before {
  content: "\eb64";
}
.icon-user4:before {
  content: "\eb65";
}
.icon-log-out1:before {
  content: "\eb66";
}
.icon-alert-triangle:before {
  content: "\eb67";
}
.icon-alert-octagon:before {
  content: "\eb68";
}
.icon-alert-circle:before {
  content: "\eb69";
}
.icon-shopping-bag3:before {
  content: "\eb6a";
}
.icon-shopping-cart4:before {
  content: "\eb6b";
}
.icon-edit-3:before {
  content: "\eb6c";
}
.icon-grid_view:before {
  content: "\eb6d";
}
.icon-share:before {
  content: "\eb6e";
}
.icon-apps1:before {
  content: "\eb6f";
}
.icon-account_tree:before {
  content: "\eb70";
}
.icon-playlist_add_check:before {
  content: "\eb71";
}
.icon-check:before {
  content: "\eb72";
}
.icon-drive_folder_upload:before {
  content: "\eb73";
}
.icon-file_upload:before {
  content: "\eb74";
}
.icon-shopping_bag:before {
  content: "\eb75";
}
.icon-storefront:before {
  content: "\eb76";
}
.icon-store_mall_directory:before {
  content: "\eb77";
}
.icon-store3:before {
  content: "\eb77";
}
.icon-history1:before {
  content: "\eb78";
}
.icon-access_time:before {
  content: "\eb79";
}
.icon-query_builder:before {
  content: "\eb79";
}
.icon-schedule2:before {
  content: "\eb79";
}
.icon-timer:before {
  content: "\eb7a";
}
.icon-watch:before {
  content: "\eb7b";
}
.icon-calendar_today:before {
  content: "\eb7c";
}
.icon-date_range:before {
  content: "\eb7d";
}
.icon-account_balance_wallet:before {
  content: "\eb7e";
}
.icon-create:before {
  content: "\eb7f";
}
.icon-mode_edit:before {
  content: "\eb7f";
}
.icon-edit:before {
  content: "\eb7f";
}
.icon-auto_delete:before {
  content: "\eb80";
}
.icon-delete_sweep:before {
  content: "\eb81";
}
.icon-remove_circle_outline:before {
  content: "\eb82";
}
.icon-remove_circle:before {
  content: "\eb83";
}
.icon-do_not_disturb_on:before {
  content: "\eb83";
}
.icon-delete1:before {
  content: "\eb84";
}
.icon-vpn_key:before {
  content: "\eb85";
}
.icon-power_settings_new:before {
  content: "\eb86";
}
.icon-message1:before {
  content: "\eb87";
}
.icon-home_repair_service:before {
  content: "\eb88";
}
.icon-house:before {
  content: "\eb89";
}
.icon-home1:before {
  content: "\eb8a";
}
.icon-person_search:before {
  content: "\eb8b";
}
.icon-person_remove:before {
  content: "\eb8c";
}
.icon-person_add_alt_1:before {
  content: "\eb8d";
}
.icon-person_add_alt:before {
  content: "\eb8e";
}
.icon-person_outline:before {
  content: "\eb8f";
}
.icon-person_add:before {
  content: "\eb90";
}
.icon-person_pin_circle:before {
  content: "\eb91";
}
.icon-person:before {
  content: "\eb92";
}
.icon-fullscreen_exit:before {
  content: "\eb93";
}
.icon-logout:before {
  content: "\eb94";
}
.icon-notifications_on:before {
  content: "\eb95";
}
.icon-notifications_off:before {
  content: "\eb96";
}
.icon-notifications_none:before {
  content: "\eb97";
}
.icon-sim_card_alert:before {
  content: "\eb98";
}
.icon-battery_alert:before {
  content: "\eb99";
}
.icon-notification_important:before {
  content: "\eb9a";
}
.icon-add_alert:before {
  content: "\eb9b";
}
.icon-notifications:before {
  content: "\eb9c";
}
.icon-warning1:before {
  content: "\eb9d";
}
.icon-shopping_bag1:before {
  content: "\eb9e";
}
.icon-shopping_basket:before {
  content: "\eb9f";
}
.icon-add_shopping_cart:before {
  content: "\eba0";
}
.icon-local_grocery_store:before {
  content: "\eba1";
}
.icon-dashboard:before {
  content: "\eba2";
}
.icon-exchange:before {
  content: "\eba3";
}
.icon-credit-card-alt:before {
  content: "\eba4";
}
.icon-credit-card:before {
  content: "\eba5";
}
.icon-inr:before {
  content: "\eba6";
}
.icon-rupee:before {
  content: "\eba6";
}
.icon-share-square-o:before {
  content: "\eba7";
}
.icon-share-alt:before {
  content: "\eba8";
}
.icon-history2:before {
  content: "\eba9";
}
.icon-calendar-o:before {
  content: "\ebaa";
}
.icon-calendar1:before {
  content: "\ebab";
}
.icon-youtube-square:before {
  content: "\ebac";
}
.icon-angle-down:before {
  content: "\ebad";
}
.icon-angle-up:before {
  content: "\ebae";
}
.icon-angle-right:before {
  content: "\ebaf";
}
.icon-angle-left:before {
  content: "\ebb0";
}
.icon-angle-double-down:before {
  content: "\ebb1";
}
.icon-angle-double-up:before {
  content: "\ebb2";
}
.icon-angle-double-right:before {
  content: "\ebb3";
}
.icon-angle-double-left:before {
  content: "\ebb4";
}
.icon-google-plus-square:before {
  content: "\ebb5";
}
.icon-pinterest-square:before {
  content: "\ebb6";
}
.icon-phone-square:before {
  content: "\ebb7";
}
.icon-github-square:before {
  content: "\ebb8";
}
.icon-linkedin-square:before {
  content: "\ebb9";
}
.icon-facebook-square:before {
  content: "\ebba";
}
.icon-twitter-square:before {
  content: "\ebbb";
}
.icon-home:before {
  content: "\ebbc";
}
.icon-folder-open-o:before {
  content: "\ebbd";
}
.icon-folder-o:before {
  content: "\ebbe";
}
.icon-folder-open:before {
  content: "\ebbf";
}
.icon-folder:before {
  content: "\ebc0";
}
.icon-camera-retro:before {
  content: "\ebc1";
}
.icon-user-o:before {
  content: "\ebc2";
}
.icon-user5:before {
  content: "\ebc3";
}
.icon-sign-out:before {
  content: "\ebc4";
}
.icon-address-card-o:before {
  content: "\ebc5";
}
.icon-vcard-o:before {
  content: "\ebc5";
}
.icon-address-card:before {
  content: "\ebc6";
}
.icon-vcard:before {
  content: "\ebc6";
}
.icon-shopping-basket1:before {
  content: "\ebc7";
}
.icon-shopping-bag4:before {
  content: "\ebc8";
}
.icon-tags2:before {
  content: "\ebc9";
}
.icon-tag2:before {
  content: "\ebca";
}
.icon-dashboard1:before {
  content: "\ebcb";
}
.icon-tachometer:before {
  content: "\ebcb";
}
