@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --primary: #3498db;
    --primary-dark: #2980b9;
    --white: #ffffff;
}
body {
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.vh-100 {
    height: 100vh;
}
.vh-50 {
    height: 50vh;
}
.bg-primary {
    background-color: var(--primary);
}
[class^='btn-'] {
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
    transition: all ease .3s;
}
[class^='btn-'].rounded {
    border-radius: 16px;
}
.btn-white-outline {
    border-color: var(--white);
    background-color: transparent;
    color: var(--white);
}
.btn-white-outline:hover {
    background-color: var(--white);
    color: var(--primary);
}
.section-after-svg path {
    fill: var(--primary);
}
.welcome-section {
    display: flex;
    flex-direction: column;
}
.welcome-section .welcome-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.welcome-content nav {
    border-bottom: 1px solid var(--primary-dark);
}
.welcome-content nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.welcome-content nav ul li a {
    display: block;
    color: var(--white);
    text-decoration:  none;
    padding: 15px 30px;
    text-transform: capitalize;
}
.welcome-slogan {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: var(--white);
    text-align: center;
    align-items: center;

    justify-content: center;
}
.welcome-slogan h1 {
    margin-top: 0;
    margin-bottom: 40px;
}